/* general */
/* NAVIGATION */

header{
    background-color: #403D39;
    border: #CCC5B9 solid 3px;
}

header a{
    font-size: 18px;
    text-decoration: none;
    color: #FFFCF2;
}

header a:hover{
    color: #EB5E28;
}

.skip a{
    background-color: #252422;
    right: 0;
    padding: 6px;
    z-index: 1;
    position: absolute;
    top: -40px;
}
.skip a:focus{
    top: inherit;
}

.current a{
    color: #EB5E28 !important;
    font-weight: bold;
    font-size: 1.55em;
    text-decoration: underline;
}

nav ul{
    padding: 10px 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 5px;
}

nav a:visited{
    color: #FFFCF2;
}

li{
    padding: 5px 5px;
    margin: auto auto;
    background-color: #252422;
    border: #CCC5B9 solid 2px;
    border-radius: 5px;
}

/* BODY */
body{
    font-family: Garamond;
    background-color: #252422;
    color: #FFFCF2;
    text-align: center;
    margin: auto auto;
    font-size: 16px;
}

h1{
    padding-top: 10px;
    font-size: 3em;
    font-weight:bold;

}

footer{
    background-color: #403D39;
    border: #CCC5B9 solid 3px;
    color: #FFFCF2;
    text-align: center;
}

main p{
    padding: 20px;
    border: #000000 solid 2px;
}

/* index */

.indexmain{
    display: gr
}

.parallax{
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height:350px;
    background-image:url("../images/ryan.jpg");   
    color:#000000;
    font-size: 2em;
}

/* professional */
/* animate resume */

/* fun facts */

.vacation{
    display:flex;
    flex-direction: column;
    max-width: 300px;
    margin: auto auto;
}

.vacation div{
    border: #CCC5B9 solid 2px;
    margin: 10px 0;
}


/* contact */
.socialmedia{
    display:flex;
    flex-direction: column;
    max-width:300px;
    margin: auto auto;
}

.socialmedia a{
    padding: 10px 0;

}
