/* general */
/* NAVIGATION */

header{
    background-color: #403D39;
    border: #CCC5B9 solid 3px;
}

header a{
    font-size: 18px;
    text-decoration: none;
    color: #FFFCF2;
}

.skip a{
    display: none;
}

.current a{
    color: #EB5E28 !important;
    font-weight: bold;
    font-size: 1.65em;
    text-decoration: underline;
}

nav ul{
    padding: 10px 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 5px;
}

nav a:visited{
    color: #FFFCF2;
}

li{
    padding: 5px 15px;
    margin: auto auto;
    background-color: #252422;
    border: #CCC5B9 solid 2px;
    border-radius: 10px;
}

/* BODY */
body{
    font-family: Garamond;
    background-color: #252422;
    color: #FFFCF2;
    text-align: center;
    margin: auto auto;
    font-size: 16px;
}

h1{
    padding: 10px 0px;
    font-size: 3em;
    font-weight:bold;
}

h2{
    padding: 5px 0px;
    font-size: 2.5em;
}

footer{
    background-color: #403D39;
    border: #CCC5B9 solid 2px;
    color: #FFFCF2;
    text-align: center;
    margin-top: 10px;
}



p{
    padding: 15px;
    background-color: #403D39;
    border: #CCC5B9 solid 2px;
}

footer p{
    padding: 5px;
    border: none;
    background-color:transparent;
}

/* index/about me & professional*/
.boxes div{
    margin: 15px 10px 20px;
    border: #CCC5B9 solid 2px;
}

.boxes p{
    border:none;
    border-bottom: #CCC5B9 solid 2px;
}

/* professional */
.fill{
    background: #ffffff;
}

.resume{
    font-size: 2.5em;
    font-weight: bold;
}

/* vacation */
.vacation{
    display:flex;
    flex-direction: column;
    width: 300px;
    margin: auto auto;
}

.vacation div{
    border: #CCC5B9 solid 2px;
    margin: 10px 0;
}

.vacation p{
    border:none;
    border-top: #CCC5B9 solid 2px;
}

/* contact */
.socialmedia{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: .5fr 1.5fr 1.5fr 1.5fr .5fr 1.2fr .5fr;
    max-width:300px;
    margin: auto auto;
}

.socialmedia a{
    margin: 25px 0;
}

.contact{
    padding: 15px;
    background-color: #403D39;
    border: #CCC5B9 solid 2px;
}
.contact p{
    border: none;
    padding: 0;
    background-color: transparent;
}

@media screen and (min-width: 700px){
    .skip a{
        background-color: #252422;
        display: block;
        right: 3px;
        padding: 1px;
        z-index: 1;
        position: absolute;
        top: -40px;
    }
    .skip a:focus{
        top: inherit;
    }

    /* general  */
    header a{
        font-size: 30px;
        padding: 35px;
    }
    h1{
        font-size: 4em;
    }
    .current a{
        font-size: 3em;
    }

    .travelp{
        font-size: 2em;
    }

    footer{
        margin-top: 30px;
    }

    footer p{
        font-size: 1.5em;
    }

    /* aboutme */
    .boxes {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 0px 10px;
        align-items: center;
    }
    .boxes div{
        width: 75%;
    }

    .boxes p{
        font-size: 1.5em;
    }
    
    /* contact */
    .socialmedia{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: .5fr 1fr .5fr 1fr .5fr;
        max-width: 100%;
    }
    .media{
        font-size: 1.5em;
        grid-column: 1 / 4;
        grid-row: 1 / 2;
    }
    .insta{
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    .facebook{
        grid-column: 2/ 3;
        grid-row: 2 / 3;
    }    
    .linkedin{
        grid-column: 3/ 4;
        grid-row: 2 / 3;
    }
    .email{
        font-size: 1.5em;
        grid-column: 1 / 4;
        grid-row: 3 / 4;
    }
    .mailto{
        grid-column: 1/4;
        grid-row: 4 / 5;
    }
    .phone{
        grid-column: 1 / 4;
        grid-row: 5 / 6;
        font-size: 1.5em;
    }

    /* travel */
    .vacation{
        flex-direction: row;
        flex-wrap: wrap;
        width: 600px;
    }

    .vacation p{
        font-size: 2em;
    }

    /* features */
    .parallax{
        background-attachment: fixed; /* Parallax effect */
        background-position: center; /* Parallax effect */
        background-size: cover; /* Parallax effect */
        overflow:hidden;
        height: 400px;
    }
}

@media screen and (min-width: 800px){
    .skip a{
        font-size: 3em;
        top: -60px;
    }

}