/* general */
/* NAVIGATION */

header{
    background-color: #403D39;
    border: #CCC5B9 solid 3px;
}

header a{
    font-size: 18px;
    text-decoration: none;
    color: #FFFCF2;
}

.skip a{
    background-color: #252422;
    right: 0;
    padding: 6px;
    z-index: 1;
    position: absolute;
    top: -40px;
}
.skip a:focus{
    top: inherit;
}

.current a{
    color: #EB5E28 !important;
    font-weight: bold;
    font-size: 1.65em;
    text-decoration: underline;
}

nav ul{
    padding: 10px 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 5px;
}

nav a:visited{
    color: #FFFCF2;
}

li{
    padding: 5px;
    margin: auto auto;
    background-color: #252422;
    border: #CCC5B9 solid 2px;
    border-radius: 5px;
}

/* BODY */
body{
    font-family: Garamond;
    background-color: #252422;
    color: #FFFCF2;
    text-align: center;
    margin: auto auto;
    font-size: 16px;
}

h1{
    padding: 15px 0px;
    font-size: 3em;
    font-weight:bold;

}

footer{
    background-color: #403D39;
    border: #CCC5B9 solid 3px;
    color: #FFFCF2;
    text-align: center;
    margin-top: 10px;
}

p{
    padding: 15px;

    background-color: #403D39;
    border: #CCC5B9 solid 2px;
}

/* index/about me */

.indexmain div{
    margin: 0px 10px 20px;
    border: #CCC5B9 solid 2px;
}

.indexmain p{
    border:none;
    border-bottom: #CCC5B9 solid 2px;
}

/*  */

/* professional */

/* fun facts */
.vacation{
    display:flex;
    flex-direction: column;
    max-width: 300px;
    margin: auto auto;
}

.vacation div{
    border: #CCC5B9 solid 2px;
    margin: 10px 0;
}

.vacation p{
    border:none;
    border-top: #CCC5B9 solid 2px;
}

/* contact */
.socialmedia{
    display:flex;
    flex-direction: column;
    max-width:300px;
    margin: auto auto;
}

.socialmedia a{
    margin: 10px 0;
}

